<a href="https://colab.research.google.com/github/IrickMarvinGalan/CPE-031-Visualization-and-Data-Analysis/blob/main/IntroToVisualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Example 1
import pandas as pd

mydataset = {
    'animals' : ['Cat', 'Dog', 'Rabbit'],
    'height' : [13, 17, 8]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

In [ ]:
import pandas as pd

a = [1, 7, 2] #{"Password": 123, "Username":"ABC"}

myvar = pd.Series(a)

print(myvar, '\n')
print(myvar[0])

myvar = pd.Series(a, index = ['x', 'y', 'z'])
print(myvar)
print(myvar["y"])

0    1
1    7
2    2
dtype: int64

1
x    1
y    7
z    2
dtype: int64
7

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
import pandas as pd

data = {
    'age' : [42, 38, 39],
    'weight' : [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)
print(myvar.loc[0])
print(myvar.loc[[0, 1]])

   age  weight
0   42      50
1   38      40
2   39      45
age       42
weight    50
Name: 0, dtype: int64
   age  weight
0   42      50
1   38      40

In [ ]:
import pandas as pd
import

data = {
    "calories" : [420, 380, 390],
    "duration": [50, 40, 45]
  }
myvar = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(myvar)
print(myvar.loc["day2"])

      calories  duration
day1       420        50
day2       380        40
day3       390        45
calories    380
duration     40
Name: day2, dtype: int64

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

# Load the CSV file from Google Drive
df = pd.read_csv('/content/drive/MyDrive/CPE_031_Galan/RoadAccidents.csv')

# Display the first few rows
print(df)

     Million Plus Cities   Cause category        Cause Subcategory  \
0                   Agra  Traffic Control  Flashing Signal/Blinker
1                   Agra  Traffic Control  Flashing Signal/Blinker
2                   Agra  Traffic Control  Flashing Signal/Blinker
3                   Agra  Traffic Control  Flashing Signal/Blinker
4                   Agra  Traffic Control  Flashing Signal/Blinker
...                  ...              ...                      ...
9545               Vizaq          Weather              Sunny/Clear
9546               Vizaq          Weather              Sunny/Clear
9547               Vizaq          Weather              Sunny/Clear
9548               Vizaq          Weather              Sunny/Clear
9549               Vizaq          Weather              Sunny/Clear

            Outcome of Incident   Count
0            Greviously Injured     0.0
1                  Minor Injury     0.0
2                Persons Killed     0.0
3                 Total Injured     0.0
4     Total number of Accidents     0.0
...                         ...     ...
9545         Greviously Injured   561.0
9546               Minor Injury   252.0
9547             Persons Killed   176.0
9548  Total number of Accidents  1207.0
9549              Total Injured   813.0

[9550 rows x 5 columns]